$color-white: rgba(255, 255, 255, 1);
$color-cyan: rgba(75, 202, 255, 1);
$color-gray: rgba(81, 95, 103, 1);
$color-transgray: rgba(81, 95, 103, 0.9);
$color-dark: rgba(53, 63, 70, 1);
$color-transdark: rgba(53, 63, 70, 0.9);