html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
}

body .w-95 {
  width: 95%;
}

body .w-90 {
  width: 90%;
}

body .w-85 {
  width: 85%;
}

body .w-80 {
  width: 80%;
}

body .responsive-w90 {
  width: 90%;
}

body .item-active,
body .item-filter-active {
  border-color: #4bcaff !important;
  background-color: #4bcaff !important;
  color: white !important;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url("../images/backgrounds/bg_hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

header #hero p {
  margin: 0 0 1.25rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0;
  font-family: Noto Sans;
  font-size: 2.625rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(53, 63, 70, 0.9);
}

header #hero p:last-child {
  margin: 0;
}

footer {
  margin: 0;
  padding: 4.938rem 0 4.938rem 0;
  border: 0;
  width: 100%;
  height: auto;
  background-color: #353f46;
}

footer ul {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 0.875rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #515f67;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

footer ul li:first-child {
  padding: 0;
}

footer ul li:last-child {
  border-right: none;
}

footer ul li a {
  margin: 0 0.875rem 0 0;
  padding: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: #515f67;
  font-weight: 500;
  font-style: normal;
  border: 0;
  text-transform: uppercase;
}

footer ul li a:hover {
  color: #4bcaff;
  text-decoration: none;
}

footer p {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: #515f67;
  font-weight: 600;
  font-style: normal;
  text-align: right;
}

nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 10% 0 10%;
  border: 0;
  width: 100%;
  height: 7.5rem;
  background-color: rgba(53, 63, 70, 0.9);
  z-index: 1000;
}

nav.navbar h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

nav.navbar h1 span {
  color: #4bcaff;
}

nav.navbar div#navbarNav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

nav.navbar div#navbarNav div ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

nav.navbar div#navbarNav div ul li {
  display: inline-block;
  margin: 0 1.125rem 0 0;
  padding: 0;
  border: 0;
}

nav.navbar div#navbarNav div ul li:last-child {
  margin: 0;
}

nav.navbar div#navbarNav div ul li a {
  margin: 0;
  padding: 0.5rem 0.875rem 0.5rem 0.875rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: transparent;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

nav.navbar div#navbarNav div ul li a:hover {
  color: #4bcaff;
  border-color: #4bcaff;
  text-decoration: none;
  -webkit-transition: all 200ms 0s linear;
  -moz-transition: all 200ms 0s linear;
  -o-transition: all 200ms 0s linear;
  transition: all 200ms 0s linear;
}

.navbar-scroll {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #353f46 !important;
  z-index: 1000 !important;
  height: auto !important;
  padding: 1.188rem 10% 1.188rem 10% !important;
  -webkit-transition: all 400ms 0s linear;
  -moz-transition: all 400ms 0s linear;
  -o-transition: all 400ms 0s linear;
  transition: all 400ms 0s linear;
}

body .icon-services-coffee {
  max-width: 2.125rem;
  max-height: 3rem;
}

body .icon-services-instant {
  max-width: 3rem;
  max-height: 3rem;
}

body .icon-services-dslr {
  max-width: 2.938rem;
  max-height: 2.813rem;
}

body .icon-services-frame {
  max-width: 3rem;
  max-height: 3rem;
}

body .icon-portfolio-plus {
  max-width: 2rem;
  max-height: 2.063rem;
}

body .icon-twitter, body .icon-whois-twitter {
  max-width: 1.75rem;
  max-height: 1.375rem;
}

body .icon-whois-googleplus {
  max-width: 1.75rem;
  max-height: 1.813rem;
}

body .icon-whois-dribbble {
  max-width: 1.625rem;
  max-height: 1.688rem;
}

body .icon-whois-coffee {
  max-width: 1.938rem;
  max-height: 1.5rem;
}

body .icon-testimonials {
  max-width: 2rem;
  max-height: 1.625rem;
}

body .icon-services-coffee,
body .icon-services-instant,
body .icon-services-dslr,
body .icon-services-frame,
body .icon-portfolio-plus,
body .icon-twitter,
body .icon-whois-twitter,
body .icon-whois-googleplus,
body .icon-whois-dribbble,
body .icon-whois-coffee,
body .icon-testimonials {
  width: 100%;
  height: 100%;
}

#services {
  margin: 0;
  padding: 5rem 0 4.813rem 0;
  border: 0;
  background-color: #4bcaff;
}

#services h2 {
  position: relative;
  margin: 0 0 3.125rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#services h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#services img {
  margin: 0 0 1.5rem 0;
  padding: 0;
  border: 0;
}

#services h3 {
  margin: 0 0 0.625rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.375rem;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

#services p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.75rem;
  color: white;
  font-weight: 600;
  font-style: normal;
  text-transform: initial;
}

#portfolio {
  margin: 0;
  padding: 5rem 0 3.25rem 0;
  border: 0;
  background-color: white;
}

#portfolio h2 {
  position: relative;
  margin: 0 0 1.563rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: #515f67;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#portfolio h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #515f67;
  border-top: none;
  border-left: none;
  border-right: none;
}

#portfolio .filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 1.563rem 0;
  padding: 0;
  border: 0;
  width: 100%;
}

#portfolio .filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#portfolio .filters ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

#portfolio .filters ul li a {
  margin: 0 1.75rem 0 0;
  padding: 0.25rem 0.625rem 0.25rem 0.625rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: transparent;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: #515f67;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

#portfolio .filters ul li a:last-child {
  margin: 0;
}

#portfolio .filters ul li a:hover {
  color: #4bcaff;
  border-color: #4bcaff;
  text-decoration: none;
  -webkit-transition: all 200ms 0s linear;
  -moz-transition: all 200ms 0s linear;
  -o-transition: all 200ms 0s linear;
  transition: all 200ms 0s linear;
}

#portfolio .portfolio-grid {
  margin: 1.563rem auto 0 auto;
  padding: 0;
  border: 0;
}

#portfolio .portfolio-grid .responsive-w90 {
  width: 90%;
}

#portfolio .portfolio-grid figure {
  position: relative;
  margin: 0 0 1.563rem 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 16.875rem;
}

#portfolio .portfolio-grid figure:hover figcaption {
  display: flex;
  -webkit-transition: all 1000ms 0s linear;
  -moz-transition: all 1000ms 0s linear;
  -o-transition: all 1000ms 0s linear;
  transition: all 1000ms 0s linear;
}

#portfolio .portfolio-grid figure img {
  object-fit: cover;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#portfolio .portfolio-grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 63, 70, 0.9);
}

#default {
  margin: 0;
  padding: 5rem 0 4.938rem 0;
  border: 0;
  background-color: #515f67;
}

#default h2 {
  position: relative;
  margin: 0 0 3.25rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#default h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#default p {
  margin: 0 0 2rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-transform: initial;
}

#default p::last-child {
  margin: 0 0 0.938rem 0;
}

#default .button {
  display: block;
  margin: 0;
  padding: 0.75em 1.875rem 0.75em 1.875rem;
  width: 8.12rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #353f46;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: #353f46;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.031rem;
}

#default .button:hover {
  color: white;
  background-color: #353f46;
  text-decoration: none;
  -webkit-transition: all 200ms 0s linear;
  -moz-transition: all 200ms 0s linear;
  -o-transition: all 200ms 0s linear;
  transition: all 200ms 0s linear;
}

#default .video-content {
  margin: 0;
  padding: 0;
}

#default .video-content video {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#twitter {
  margin: 0;
  padding: 5rem 0 4.813rem 0;
  border: 0;
  background-color: #4bcaff;
}

#twitter h2 {
  position: relative;
  margin: 0 0 3.125rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#twitter h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#twitter img {
  position: absolute;
  top: 0.625rem;
  right: 0;
}

#twitter p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.75rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: initial;
}

#twitter p span {
  font-weight: 600;
}

#whois {
  margin: 0;
  padding: 5rem 0 4.813rem 0;
  border: 0;
  background-image: url("../images/backgrounds/bg_whois.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#whois h2 {
  position: relative;
  margin: 0 0 3.125rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#whois h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#whois p {
  margin: 0 0 2.063rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-transform: initial;
}

#whois .social-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: auto;
}

#whois .social-box a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1.25rem 0 0;
  padding: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  max-width: 100%;
  max-height: 100%;
  width: 4rem;
  height: 4rem;
}

#whois .social-box a:hover {
  background-color: #4bcaff;
  border-color: #4bcaff;
}

#whois .social-box a:last-child {
  margin: 0;
}

#testimonials {
  margin: 0;
  padding: 5rem 0 4.813rem 0;
  border: 0;
  background-color: white;
}

#testimonials h2 {
  position: relative;
  margin: 0 0 3.125rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: #515f67;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#testimonials h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #515f67;
  border-top: none;
  border-left: none;
  border-right: none;
}

#testimonials img {
  position: absolute;
  top: 0.156rem;
  right: 0;
}

#testimonials blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

#testimonials blockquote p {
  margin: 0 0 1.25rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.75rem;
  color: #515f67;
  font-weight: 300;
  font-style: normal;
  text-transform: initial;
}

#testimonials blockquote span {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: #4bcaff;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;
}

#contact {
  margin: 0;
  padding: 5rem 0 4.813rem 0;
  border: 0;
  background-image: url("../images/backgrounds/bg_contact.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact h2 {
  position: relative;
  margin: 0 0 3.125rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 1.875rem;
  color: white;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.063rem;
}

#contact h2::after {
  content: '';
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 2.813rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
}

#contact label[for=contact-message] {
  margin: 1.875rem 0 0.625rem 0 0;
  padding: 0;
}

#contact label {
  margin: 0 0 0.625rem 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

#contact input[type=text], #contact input[type=email], #contact textarea {
  border-style: solid;
  border-width: 0.125rem;
  border-color: white;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-transform: initial;
  background-color: transparent;
}

#contact input[type=text]:focus, #contact input[type=email]:focus, #contact textarea:focus {
  background-color: rgba(53, 63, 70, 0.9);
  -webkit-transition: all 200ms 0s linear;
  -moz-transition: all 200ms 0s linear;
  -o-transition: all 200ms 0s linear;
  transition: all 200ms 0s linear;
}

#contact input[type=text]::placeholder, #contact input[type=email]::placeholder, #contact textarea::placeholder {
  color: #353f46;
  font-weight: 700;
  text-transform: uppercase;
}

#contact input[type=text], #contact input[type=email] {
  margin: 0 0 1.25rem 0;
  padding: 0.25rem 0.625rem 0.5rem 0.625rem;
  width: 100%;
  height: 3.438rem;
}

#contact textarea {
  margin: 0 0 1.25rem 0;
  padding: 0.5rem 0.625rem 0.5rem 0.625rem;
  width: 100%;
  height: 13.75rem;
  resize: none;
}

#contact input[type=submit] {
  margin: 1.25rem 0 0 0;
  padding: 1.125rem 6.25rem 1.125rem 6.25rem;
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background-color: #4bcaff;
}

#contact input[type=submit]:hover {
  background-color: #353f46;
  -webkit-transition: all 200ms 0s linear;
  -moz-transition: all 200ms 0s linear;
  -o-transition: all 200ms 0s linear;
  transition: all 200ms 0s linear;
}

#contact p, #contact address {
  border: 0;
  font-family: Noto Sans;
  font-size: 0.875rem;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-transform: initial;
}

#contact p {
  margin: 0 0 2.438rem 0;
  padding: 0;
}

#contact address {
  margin: 0;
  padding: 0;
}
